<app-header></app-header>
<div class="container my-5 p-5">
  <mdb-card>
    <div *ngIf="!entity" class="d-flex justify-content-center my-5">
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <mdb-card-body *ngIf="entity">
      <div class="row mx-4 align-items-center text-center">
        <!-- Image -->
        <div class="col-5 ml-n5 align-items-center text-center">
          <!-- Single image -->
          <div class="row" *ngIf="!entity.variants">
            <div class="col-sm">
              <img  class="img-fluid" (click)="basicModal.show()" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/{{type}}/{{entity.image}}.png">
            </div>
            <div *ngIf="entity.has_fake" class="col-sm">
              <img class="img-fluid" (click)="basicModal.show()" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/{{type}}/{{entity.image}}Fake.png">
              <br>{{"entity.properties.fake" | translate}}
            </div>
          </div>
          <!-- .end Single image -->

          <!-- Image with variations -->
          <div class="row" *ngIf="entity.variants">
            <div class="col-sm">
              <mdb-carousel *ngIf="variants.length > 1" class="bg-light rounded" [animation]="'slide'">
                <mdb-carousel-item class="justify-content-center" *ngFor="let variant of variants">
                  <img class="img-fluid my-5" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/{{type}}/{{entity.image}}{{variant}}.png">
                </mdb-carousel-item>
              </mdb-carousel>
              <img *ngIf="variants.length <= 1" class="img-fluid my-5" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/{{type}}/{{entity.image}}0.png">
            </div>
          </div>
          <!-- .end Image with variations -->
        </div>
        <!-- .end Image -->

        <!-- Modal -->
        <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm">
                    <img *ngIf="type!='furniture' || !entity.variants"  class="img-fluid" (click)="basicModal.show()" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/{{type}}/{{entity.image}}.png">
                  </div>
                  <div *ngIf="entity.has_fake" class="col-sm">
                    <img *ngIf="(type!='furniture' || !entity.variants) && type=='art'"  class="img-fluid" (click)="basicModal.show()" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/{{type}}/{{entity.image}}Fake.png">
                    <br>{{"entity.properties.fake" | translate}}
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" mdbBtn color="cyan" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- .end Modal -->

        <!-- General -->
        <div class="col-sm align-self-center text-left">
            <div class="row float-right">
              <img *ngIf="type=='fish' || type=='bug'" class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/FishBugs.png">
              <img *ngIf="type=='fossil'" class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Fossil.png">
              <img *ngIf="type=='villager'" class="icon bg-info rounded-circle" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/specie/{{entity.specie}}.png">
              <img *ngIf="type=='plant' && entity.plant_type=='flower'" class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/plant/icons/PltRose4.png">
              <img *ngIf="type=='plant' && entity.plant_type=='bush'" class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/plant/icons/PltAzaleaPink.png">
              <img *ngIf="type=='plant' && entity.plant_type=='tree'" class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/plant/icons/PltApple.png">
            </div>

            <p class="h1 mt-3">{{entity.name}}</p>
            <p><i class="fas fa-sync"></i> {{ (entity.exchangeable ? "entity.properties.exchangeable.true" : "entity.properties.exchangeable.false") | translate }} </p>
        
        <!-- .end General-->
        
        <!-- Prices -->
        <div *ngIf="entity.buy_price || entity.sell_price" class="row my-4">
          <div *ngIf="entity.buy_price" class="col-5 ml-n3 mt-n3">
            <img class="icon" src="{{entityHelper.buyPriceIcon(type, entity.obtainment)}}">
            {{entity.buy_price}} {{ "entity.properties.bells" |translate }}
          </div>
          <div *ngIf="entity.sell_price" class="col-5 ml-n3 mt-n3">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Coin.png">
            {{entity.sell_price}} {{ "entity.properties.bells" |translate }}
          </div>
          <div *ngIf="entity.price_cj" class="col-4 ml-n3 mt-n3">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Coin.png">
            {{entity.price_cj}} {{ "entity.properties.bells" |translate }}
          </div>
          <div *ngIf="entity.price_flick" class="col-4 ml-n3 mt-n3">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Coin.png">
            {{entity.price_flick}} {{ "entity.properties.bells" |translate }}
          </div>
        </div>
        <!-- .end Prices -->
        
        <!-- Villager -->
        <div *ngIf="type == 'villager'">
          <app-villager [entity]="entity" [type]="type"></app-villager>
        </div>
        <!-- .end Villager -->
        
        
        <!-- Bug and fish -->
        <div *ngIf="type == 'fish' || type == 'bug'">
          <app-critters [entity]="entity" [type]="type"></app-critters>
        </div>
        <!-- .end Bug and fish -->

        <!-- Fossils -->
        <div *ngIf="type == 'fossil'">
          <app-fossil [entity]="entity" [type]="type"></app-fossil>
        </div>
        <!-- .end Fossils -->

        <!-- Art -->
        <div *ngIf="type == 'art'">
          <app-art [entity]="entity" [type]="type"></app-art>
        </div>
        <!-- .end Art -->

        <!-- Construction -->
        <div *ngIf="type == 'construction'">
          <app-construction [entity]="entity" [type]="type"></app-construction>
        </div>
        <!-- .end Construction -->

        <!-- Music -->
        <div *ngIf="type == 'music'">
          <app-music [entity]="entity" [type]="type"></app-music>
        </div>
        <!-- .end Music -->

        <!-- Reaction -->
        <div *ngIf="type == 'reaction'">
          <app-reaction [entity]="entity" [type]="type"></app-reaction>
        </div>
        <!-- .end Reaction -->

        <!-- Plant -->
        <div *ngIf="type == 'plant'">
          <app-plant [type]="type" [entity]="entity"></app-plant>
        </div>
        <!-- .end Plant -->

        <!-- Furniture -->
        <div *ngIf="type == 'furniture'">
          <app-furniture [type]="type" [entity]="entity"></app-furniture>
        </div>
        <!-- .end Furniture -->

        <!-- Clothes -->
        <div *ngIf="type == 'clothes'">
          <app-clothes [type]="type" [entity]="entity"></app-clothes>
        </div>
        <!-- .end Clothes -->

        <!-- Tool -->
        <div *ngIf="type == 'tool'">
          <app-tool [type]="type" [entity]="entity"></app-tool>
        </div>
        <!-- .end Tool -->

        <!-- Material -->
        <div *ngIf="type == 'material'">
          <app-material [type]="type" [entity]="entity"></app-material>
        </div>
        <!-- .end Material -->

        <!-- Event -->
        <div *ngIf="type == 'event'">
          <app-event [type]="type" [entity]="entity"></app-event>
        </div>
        <!-- .end Event -->
        
        <!-- Npc -->
        <div *ngIf="type == 'npc'">
          <app-npc [type]="type" [entity]="entity"></app-npc>
        </div>
        <!-- .end Npc -->

        <!-- Achievement -->
        <div *ngIf="type == 'achievement'">
          <app-achievement [type]="type" [entity]="entity"></app-achievement>
        </div>
        <!-- .end Achievement -->

        <div *ngIf="entity.obtainment == 'crafting'">
          <app-recipe [type]="type" [entity]="entity" [locale]="locale"></app-recipe>
        </div>

      </div>
    </div>
  </mdb-card-body>
  </mdb-card>
</div>
<app-footer></app-footer>