.img-fluid{
    width: inherit;
    height: auto;
}

.img-background{
 background: radial-gradient(circle, (#ffdf76) 20%, #fff6a6 80%);
 border-radius: 15%;
 cursor: pointer;
}

.icon{
    width:50px;
    height: auto;
}