.img-fluid{
    cursor: pointer;
}

.icon{
    width:50px;
    height: auto;
}

.mini-icon{
    width:25px;
    height: auto;
}

.preview{
    max-height: 100px;
}

.spinner-border{
    width: 4rem;
    height: 4rem;
}