<app-header></app-header>
<div class="card container my-5 p-5">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="https://nooksisland.com/images/atlas-moth.png">
        </div>
        <div class="col-md-8">
            <p class="h1 mb-4">Title</p>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque illum quas numquam nostrum necessitatibus atque praesentium modi asperiores obcaecati repellat tempora fugit, culpa temporibus, ea ratione eveniet! Dolorum, illum explicabo.</p>
            <hr>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('size', type)">Size :</p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('place', type)">Place :</p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('date', type)">Date: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('time', type)">Time: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('sell_price', type)">Sell price: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('rarity', type)">Rarity: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('obtaining', type)">Obtaining: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('buy_price', type)">Buy price: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('cloting_type', type)">Clothing type: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('plant_type', type)">Plant type: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('animal_type', type)">Animal type: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('personality', type)">Personality: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('genre', type)">Genre: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('slogan', type)">Slogan: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('catchphrase', type)">Catchphrase: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('birthdate', type)">Bithdate: </p>
            <p class="h5 mb-4" *ngIf="entityHelper.getEntityInputs('character', type)">Character: </p>
        </div>
    </div>
</div>
<app-footer></app-footer>