<app-header></app-header>
<div class="container my-5">
  <!-- Default form login -->
  <form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4">{{"authentication.login" | translate}}</p>

    <!-- Username -->
    <input mdbInput type="text" id="username" formControlName="username" class="form-control mb-4" placeholder="{{'general.user.username' | translate}}" required />
    <div *ngIf="username.invalid && (username.dirty || submitAttemp)" class="alert alert-danger">
      <div *ngIf="username.errors.required">
        {{"general.required.username" | translate}}
      </div>
    </div>

    <!-- Password -->
    <input mdbInput type="password" id="password" formControlName="password" class="form-control mb-4" placeholder="{{'general.user.password' | translate}}" required>
    <div *ngIf="password.invalid && (password.dirty || submitAttemp)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        {{"general.required.password" | translate}}
      </div>
    </div>

    <div *ngIf="this.loginError=='Not found'" class="alert alert-danger">
      {{"authentication.error.notfound" | translate}}
    </div>
    <div *ngIf="this.loginError=='Internal'" class="alert alert-danger">
      {{"authentication.error.server" | translate}}
    </div>

    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true" formControlName="remember">{{"authentication.remember" | translate}}</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a href="">{{"authentication.forgot" | translate}}</a>
      </div>
    </div>

    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">{{"authentication.login" | translate}}</button>

    <!-- Register -->
    <p>{{"authentication.notmember" | translate}}
      <a routerLink="/register">{{"authentication.register" | translate}}</a>
    </p>
    
  </form>
    <!-- Default form login -->
</div>
<app-footer></app-footer>