<h4>{{"entity.obtainment" | translate }}</h4>
<hr>
<div class="row">
    <div class="col-sm">
        <div class="row" *ngIf="entity.obtainment == 'hybrid'">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Watering.png">
            <div class="col-sm my-auto">
                {{"entity.obtainments." + entity.obtainment | translate}}
            </div>
        </div>
        <div *ngIf="entity.obtainment == 'hybrid'" class="mt-3">
            <h5>Combinaciones</h5>
            <hr>
        </div>
        <div class="row" *ngIf="entity.obtainment == 'hybrid'">
            <div class="row">
                <div class="col-sm" *ngFor="let pair of hybrid_parents">
                    <img class="img-fluid" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/plant/icons/{{pair[0].entity.image}}.png">
                    +
                    <img class="img-fluid" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/plant/icons/{{pair[1].entity.image}}.png">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="entity.obtainment == 'seed_bag'">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/plant/icons/{{seed_bag.image}}.png">
            <div class="col-sm my-auto">
                {{"entity.obtainments." + entity.obtainment | translate}}
            </div>
        </div>
    </div>
</div>