<h5><i>"{{entity.catchphrase}}"</i></h5>
<br>
<div class="row ml-1">
    <div class="col-sm">
        <div class="row">
        <img class="mini-icon bg-warning rounded-circle" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/birthday/{{entityHelper.birthdayIcon(entity.birthday)}}.png">
        <div class="col-sm my-auto">
            {{entity.birthday.split("/")[0] + " de " + ("general.months." + entity.birthday.split("/")[1] | translate)}}
        </div>  
        </div>
        <div class="row mt-1">
        <mdb-icon *ngIf="entity.gender=='female'" fas icon="venus" size="3x" class="pink-text"></mdb-icon>
        <mdb-icon *ngIf="entity.gender=='male'" fas icon="mars" size="3x" class="blue-text"></mdb-icon>
        <div class="col-sm my-auto">
            {{"entity.genders." + entity.gender | translate}}
        </div> 
        </div>
        <div class="row mt-1">
        <mdb-icon fas icon="theater-masks" size="lg" class="green-text"></mdb-icon>
        <div class="col-sm my-auto">
            {{"entity.personalities." + entity.personality | translate}}
        </div> 
        </div>
    </div>
</div>