<app-header></app-header>
  <div class="img-container">
    <img class="img-fluid" src="https://cdn.gamer-network.net/2020/screenshots/ACrossing-Site.jpg">
  </div>
    <div class="container">
      <!-- Card -->
      <mdb-card class="mt-n5 mb-5">
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>

          <a href="#" mdbBtn color="cyan" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
<app-footer></app-footer>
