        <form class="px-5" [formGroup]="entityForm" (ngSubmit)="onSubmit()" *ngIf="entityForm">
            
            <!-- Image -->
            <div class="row">
                <legend>Propiedades</legend>
                <div class="col-md-12">
                    <label for="image" class="form-label">{{'entity.image' | translate}}</label>
                    <div class="row m-1">
                        <img [src]="imgPreview" class="img-fluid">
                    </div>
                    <div class="custom-file mb-4">
                        <input type="file" class="custom-file-input" id="image" formControlName="image" (change)="selectImage($event)" required>
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div *ngIf="image.invalid && (image.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="image.errors.required">
                            {{"entity.required.image" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Name -->
                <div class="col-md-6">
                    <label for="name" class="form-label">{{'entity.name' | translate}}</label>
                    <input type="text" id="name" class="form-control mb-4" formControlName="name">
                    <div *ngIf="name.invalid && (name.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            {{"entity.required.name" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Exchangeable -->
                <div class="col-md-6 my-4">
                    <mdb-checkbox class="checkbox" [default]="true" formControlName="exchangeable">{{"entity.exchangeable" | translate}}</mdb-checkbox>
                </div>
                <!-- Variants -->
                <div class="col-md-12" *ngIf="variants">
                    <label for="variants" class="form-label">{{'entity.variants' | translate}}</label>
                    <div class="row m-1">
                        <div class="col-md-3" *ngFor="let variant of variantsPreview">
                            <img [src]="variant" class="img-fluid">
                        </div>
                    </div>
                    <div class="custom-file mb-4">
                        <input type="file" class="custom-file-input" id="variants" formControlName="variants" (change)="selectVariants($event)" multiple>
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <!-- Rarity -->
                <div class="col-md-6" *ngIf="rarity">
                    <label for="rarity" class="form-label">{{'entity.rarity' | translate}}</label>
                    <select id="rarity" class="browser-default custom-select mb-4" formControlName="rarity">
                        <option [value]="null" selected>Selecciona rareza</option>
                        <option *ngFor="let rarity of rarities" [value]="rarity" >{{ "entity.rarities." + rarity | translate}}</option>
                    </select>
                    <div *ngIf="rarity.invalid && (rarity.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="rarity.errors.wrong_option">
                            {{"entity.required.rarity" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Shadow -->
                <div class="col-md-6" *ngIf="shadow">
                    <label for="shadow" class="form-label">{{'entity.shadow' | translate}}</label>
                    <select id="shadow" class="browser-default custom-select mb-4" formControlName="shadow">
                        <option [value]="null" selected>Selecciona sombra</option>
                        <option *ngFor="let shadow of shadows" [value]="shadow" >{{ "entity.shadows." + shadow | translate}}</option>
                    </select>
                    <div *ngIf="shadow.invalid && (shadow.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="shadow.errors.required">
                            {{"entity.required.shadow" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Museum phrase -->
                <div class="col-md-12" *ngIf="museum_phrase">
                    <label for="museum_phrase" class="form-label">{{'entity.museum_phrase' | translate}}</label>
                    <textarea id="museum_phrase" class="form-control mb-4" formControlName="museum_phrase"></textarea>
                    <div *ngIf="museum_phrase.invalid && (museum_phrase.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="museum_phrase.errors.required">
                            {{"entity.required.museum_phrase" | translate}} {{"entity.types."+type | translate}}
                        </div>
                    </div>
                </div>
                <!-- Obtainment -->
                <div class="col-md-6" *ngIf="obtainment">
                    <label for="obtainment" class="form-label">{{'entity.obtainment' | translate}}</label>
                    <input type="text" id="obtainment" class="form-control mb-4" formControlName="obtainment">
                    <div *ngIf="obtainment.invalid && (obtainment.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="obtainment.errors.required">
                            {{"entity.required.obtainment" | translate}}
                        </div>
                    </div>
                </div>

                <!-- Clothing type -->
                <div class="col-md-6" *ngIf="clothing_type">
                    <label for="clothing_type" class="form-label">{{'entity.clothing_type' | translate}}</label>
                    <select id="clothing_type" class="browser-default custom-select mb-4" formControlName="clothing_type">
                        <option [value]="null" selected>Selecciona tipo de ropa</option>
                        <option *ngFor="let cloth of clothes" [value]="cloth" >{{ "entity.clothes." + cloth | translate}}</option>
                    </select>
                    <div *ngIf="clothing_type.invalid && (clothing_type.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="clothing_type.errors.required">
                            {{"entity.required.clothing_type" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Plant type -->
                <div class="col-md-6" *ngIf="plant_type">
                    <label for="plant_type" class="form-label">{{'entity.plant_type' | translate}}</label>
                    <select id="plant_type" class="browser-default custom-select mb-4" formControlName="plant_type">
                        <option [value]="null" selected>Selecciona tipo de planta</option>
                        <option *ngFor="let plant of plants" [value]="plant" >{{ "entity.plants." + plant | translate}}</option>
                    </select>
                    <div *ngIf="plant_type.invalid && (plant_type.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="plant_type.errors.required">
                            {{"entity.required.plant_type" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Consumable type -->
                <div class="col-md-6" *ngIf="consumable_type">
                    <label for="consumable_type" class="form-label">{{'entity.consumable_type' | translate}}</label>
                    <select id="consumable_type" class="browser-default custom-select mb-4" formControlName="consumable_type">
                        <option [value]="null" selected>Selecciona tipo de consumible</option>
                        <option *ngFor="let consumable of consumables" [value]="consumable" >{{ "entity.consumables." + consumable | translate}}</option>
                    </select>
                    <div *ngIf="consumable_type.invalid && (consumable_type.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="consumable_type.errors.required">
                            {{"entity.required.consumable_type" | translate}}
                        </div>
                    </div>
                </div>
                <!-- construction type -->
                <div class="col-md-6" *ngIf="construction_type">
                    <label for="construction_type" class="form-label">{{'entity.construction_type' | translate}}</label>
                    <select id="construction_type" class="browser-default custom-select mb-4" formControlName="construction_type">
                        <option [value]="null" selected>Selecciona tipo de construcción</option>
                        <option *ngFor="let construction of constructions" [value]="construction" >{{ "entity.constructions." + construction | translate}}</option>
                    </select>
                    <div *ngIf="construction_type.invalid && (construction_type.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="construction_type.errors.required">
                            {{"entity.required.construction_type" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Furniture type -->
                <div class="col-md-6" *ngIf="furniture_type">
                    <label for="furniture_type" class="form-label">{{'entity.furniture_type' | translate}}</label>
                    <select id="furniture_type" class="browser-default custom-select mb-4" formControlName="furniture_type">
                        <option [value]="null" selected>Selecciona tipo de mueble</option>
                        <option *ngFor="let furniture of furnitures" [value]="rarity" >{{ "entity.furnitures." + furniture | translate}}</option>
                    </select>
                    <div *ngIf="furniture_type.invalid && (furniture_type.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="furniture_type.errors.required">
                            {{"entity.required.furniture_type" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Durability -->
                <div class="col-md-6" *ngIf="durability">
                    <label for="durability" class="form-label">{{'entity.durability' | translate}}</label>
                    <select id="durability" class="browser-default custom-select mb-4" formControlName="durability">
                        <option [value]="null" selected>Selecciona durabilidad</option>
                        <option *ngFor="let durability of durabilities" [value]="durability" >{{ "entity.durabilities." + durability | translate}}</option>
                    </select>
                    <div *ngIf="durability.invalid && (durability.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="durability.errors.required">
                            {{"entity.required.durability" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Size -->
                <div class="col-md-6" *ngIf="size">
                    <label for="size" class="form-label">{{'entity.size' | translate}}</label>
                    <input type="text" id="size" class="form-control mb-4" formControlName="size">
                    <div *ngIf="size.invalid && (size.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="size.errors.required">
                            {{"entity.required.size" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Style -->
                <div class="col-md-6" *ngIf="style">
                    <label for="style" class="form-label">{{'entity.style' | translate}}</label>
                    <select id="style" class="browser-default custom-select mb-4" formControlName="style">
                        <option [value]="null" selected>Selecciona estilo</option>
                        <option *ngFor="let style of styles" [value]="style" >{{ "entity.styles." + style | translate}}</option>
                    </select>
                    <div *ngIf="style.invalid && (style.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="style.errors.required">
                            {{"entity.required.style" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Themes -->
                <div class="col-md-6" *ngIf="style">
                    <label for="style" class="form-label">{{'entity.themes' | translate}}</label>
                    <select id="style" class="browser-default custom-select mb-4" formControlName="themes" multiple>
                        <option *ngFor="let theme of themeList" [value]="theme" >{{ "entity.themeList." + theme | translate}}</option>
                    </select>
                    <div *ngIf="themes.invalid && (themes.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="themes.errors.required">
                            {{"entity.required.theme" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Always available -->
                <div class="col-md-6 my-4" *ngIf="always_available">
                    <mdb-checkbox [default]="true" class="checkbox" formControlName="always_available" (click)="entityHelper.clickSeasons(entityForm)">{{'entity.always_available' | translate}}</mdb-checkbox>
                </div>
                <!-- Seasons -->
                <div class="col-md-6" *ngIf="seasons">
                    <label for="seasons" class="form-label">{{'entity.seasons' | translate}}</label>
                    <select id="seasons" class="browser-default custom-select mb-4" formControlName="seasons" [value]="!always_available.value ? seasons.value : null" 
                         multiple>
                        <option *ngFor="let season of seasonList" [value]="season" >{{ "entity.seasonList." + season | translate}}</option>
                    </select>
                    <div *ngIf="seasons.invalid && (seasons.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="seasons.errors.required">
                            {{"entity.required.season" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Interactive -->
                <div class="col-md-6 my-4" *ngIf="interactive">
                    <mdb-checkbox [default]="true" class="checkbox" formControlName="interactive">{{'entity.interactive' | translate}}</mdb-checkbox>
                </div>
                <!-- Place on -->
                <div class="col-md-6 my-4" *ngIf="place_on">
                    <mdb-checkbox [default]="true" class="checkbox" formControlName="place_on">{{'entity.place_on' | translate}}</mdb-checkbox>
                </div>

                <legend *ngIf="type=='fish' || type=='bug'">Obtencion</legend>
                <!-- Rain -->
                <div class="col-md-12 mt-2" *ngIf="rain">
                    <!-- Default inline 1-->
                    <div class="custom-control custom-radio custom-control-inline col-md-4">
                        <input type="radio" class="custom-control-input" id="rain0" [value]="0" formControlName="rain" checked mdbInput>
                        <label class="custom-control-label" for="rain0">Todos los climas</label>
                    </div>
                    
                    <!-- Default inline 2-->
                    <div class="custom-control custom-radio custom-control-inline col-md-4">
                        <input type="radio" class="custom-control-input" id="rain1" [value]="1" formControlName="rain" mdbInput>
                        <label class="custom-control-label" for="rain1">Todos menos lluvia</label>
                    </div>
                    
                    <!-- Default inline 3-->
                    <div class="custom-control custom-radio custom-control-inline col-md-3">
                        <input type="radio" class="custom-control-input" id="rain2" [value]="2" formControlName="rain" mdbInput>
                        <label class="custom-control-label" for="rain2">Solo con lluvia</label>
                    </div>
                </div>
                <!-- All year -->
                <div class="col-md-6 my-4" *ngIf="all_year">
                    <mdb-checkbox [default]="true" class="checkbox" formControlName="all_year" (click)="entityHelper.clickMonths(entityForm)">{{'entity.all_year' | translate}}</mdb-checkbox>
                </div>
                <!-- All day -->
                <div class="col-md-6 my-4" *ngIf="all_day">
                    <mdb-checkbox [default]="true" class="checkbox" formControlName="all_day" (click)="entityHelper.clickTime(entityForm)">{{'entity.all_day' | translate}}</mdb-checkbox>
                </div>
                <!-- Month northern -->
                <div class="col-md-6" *ngIf="month_northern">
                    <label for="month_northern" class="form-label">{{'entity.month_northern' | translate}}</label>
                    <input type="text" id="month_northern" class="form-control mb-4" [value]="!all_year.value ? month_northern.value : null" 
                        [readOnly]="all_year.value" formControlName="month_northern" placeholder="3-5 && 7-10" pattern="[1]?[0-9](-[1]?[0-9])?( && [1]?[0-9]-[1]?[0-9])?">
                    <div *ngIf="month_northern.invalid && (month_northern.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="month_northern.errors.required">
                            {{"entity.required.month_northern" | translate}} {{"entity.types."+type | translate}}
                        </div>
                        <div *ngIf="month_northern.errors.pattern">
                            {{"entity.required.month_northern" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Month southern -->
                <div class="col-md-6" *ngIf="month_southern">
                    <label for="month_southern" class="form-label">{{'entity.month_southern' | translate}}</label>
                    <input type="text" id="month_southern" class="form-control mb-4" [value]="!all_year.value ? month_southern.value : null" 
                        [readOnly]="all_year.value" formControlName="month_southern" placeholder="6-9 && 2-4" pattern="[1]?[0-9](-[1]?[0-9])?( && [1]?[0-9]-[1]?[0-9])?">
                    <div *ngIf="month_southern.invalid && (month_southern.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="month_southern.errors.required">
                            {{"entity.required.month_southern" | translate}} {{"entity.types."+type | translate}}
                        </div>
                        <div *ngIf="month_southern.errors.pattern">
                            {{"entity.required.month_southern" | translate}} {{"entity.types."+type | translate}}
                        </div>
                    </div>
                </div>
                <!-- Time -->
                <div class="col-md-6" *ngIf="time">
                    <label for="time" class="form-label">{{'entity.time' | translate}}</label>
                    <input type="text" id="time" class="form-control mb-4" [value]="!all_day.value ? time.value : null"
                        [readOnly]="all_day.value" formControlName="time" placeholder="4am-5pm" pattern="[0-1]?[0-9][aApP][mM]-[0-1]?[0-9][aApP][mM]">
                    <div *ngIf="time.invalid && (time.dirty || submitAttemp) && !all_day.value" class="alert alert-danger">
                        <div *ngIf="time.errors.required">
                            {{"entity.required.time" | translate}} {{"entity.types."+type | translate}}
                        </div>
                        <div *ngIf="time.errors.pattern">
                            {{"entity.required.time" | translate}} {{"entity.types."+type | translate}}
                        </div>
                    </div>
                </div>
                <!-- Location -->
                <div class="col-md-6" *ngIf="location">
                    <label for="location" class="form-label">{{'entity.location' | translate}}</label>
                    <input type="text" id="location" class="form-control mb-4" formControlName="location">
                    <div *ngIf="location.invalid && (location.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="location.errors.required">
                            {{"entity.required.location" | translate}} {{"entity.types."+type | translate}}
                        </div>
                    </div>
                </div>
                
                <legend *ngIf="sell_price || buy_price">Prices</legend>
                <!-- Sell price -->
                <div class="col-md-6" *ngIf="sell_price">
                    <label for="sell_price" class="form-label">{{'entity.sell_price' | translate}}</label>
                    <input type="number" id="sell_price" class="form-control mb-4" formControlName="sell_price">
                    <div *ngIf="sell_price.invalid && (sell_price.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="sell_price.errors.required">
                            {{"entity.required.sell_price" | translate}} {{"entity.types."+type | translate}}
                        </div>
                    </div>
                </div>
                <!-- Price CJ -->
                <div class="col-md-6" *ngIf="price_cj">
                    <label for="price_cj" class="form-label">{{'entity.price_cj' | translate}}</label>
                    <input type="number" id="price_cj" class="form-control mb-4" formControlName="price_cj">
                    <div *ngIf="price_cj.invalid && (price_cj.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="price_cj.errors.required">
                            {{"entity.required.price_cj" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Price Flick -->
                <div class="col-md-6" *ngIf="price_flick">
                    <label for="price_flick" class="form-label">{{'entity.price_flick' | translate}}</label>
                    <input type="number" id="price_flick" class="form-control mb-4" formControlName="price_flick">
                    <div *ngIf="price_flick.invalid && (price_flick.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="price_flick.errors.required">
                            {{"entity.required.price_flick" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Buy price -->
                <div class="col-md-6" *ngIf="buy_price">
                    <label for="buy_price" class="form-label">{{'entity.buy_price' | translate}}</label>
                    <input type="number" id="buy_price" class="form-control mb-4" formControlName="buy_price">
                    <div *ngIf="buy_price.invalid && (buy_price.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="buy_price.errors.required">
                            {{"entity.required.sell_price" | translate}} {{"entity.types."+type | translate}}
                        </div>
                    </div>
                </div>
                <!-- Date -->
                <div class="col-md-6" *ngIf="date">
                    <label for="date" class="form-label">{{'entity.date' | translate}}</label>
                    <input type="text" id="date" class="form-control mb-4" formControlName="date">
                    <div *ngIf="date.invalid && (date.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="date.errors.required">
                            {{"entity.required.date" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Npc id -->
                <div class="col-md-6" *ngIf="npc">
                    <label for="npc" class="form-label">{{'entity.npc' | translate}}</label>
                    <input type="text" id="npc" class="form-control mb-4" formControlName="npc">
                    <div *ngIf="npc.invalid && (npc.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="npc.errors.required">
                            {{"entity.required.npc" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Species -->
                <div class="col-md-6" *ngIf="specie">
                    <label for="specie" class="form-label">{{'entity.specie' | translate}}</label>
                    <select id="specie" class="browser-default custom-select mb-4" formControlName="specie">
                        <option [value]="null" selected>Selecciona especie</option>
                        <option *ngFor="let specie of species" [value]="specie" >{{ "entity.species." + specie | translate}}</option>
                    </select>
                    <div *ngIf="specie.invalid && (specie.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="specie.errors.required">
                            {{"entity.required.specie" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Personality -->
                <div class="col-md-6" *ngIf="personality">
                    <label for="personality" class="form-label">{{'entity.personality' | translate}}</label>
                    <select id="personality" class="browser-default custom-select mb-4" formControlName="personality">
                        <option [value]="null" selected>Selecciona tipo de personalidad</option>
                        <option *ngFor="let personality of personalities" [value]="personality" >{{ "entity.personalities." + personality | translate}}</option>
                    </select>
                    <div *ngIf="personality.invalid && (personality.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="personality.errors.required">
                            {{"entity.required.personality" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Birthdate -->
                <div class="col-md-6" *ngIf="birthdate">
                    <label for="birthdate" class="form-label">{{'entity.birthdate' | translate}}</label>
                    <input type="text" id="birthdate" class="form-control mb-4" formControlName="birthdate">
                    <div *ngIf="birthdate.invalid && (birthdate.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="birthdate.errors.required">
                            {{"entity.required.birthdate" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Genre -->
                <div class="col-md-6" *ngIf="genre">
                    <label for="genre" class="form-label">{{'entity.genre' | translate}}</label>
                    <div class="mb-4">
                        <div class="custom-control custom-radio custom-control-inline col-4" *ngFor="let genreOpt of genres; let i = index">
                            <input type="radio" class="custom-control-input" id="genre+{{i}}" [value]="genreOpt" formControlName="genre" mdbInput>
                            <label class="custom-control-label" for="genre+{{i}}">{{ "entity.genres."+genreOpt | translate }}</label>
                        </div>
                    </div>
                    <div *ngIf="genre.invalid && (genre.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="genre.errors.required">
                            {{"entity.required.genre" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Favorite music -->
                <div class="col-md-6" *ngIf="favorite_music">
                    <label for="favorite_music" class="form-label">{{'entity.favorite_music' | translate}}</label>
                    <select id="favorite_music" class="browser-default custom-select mb-4" formControlName="favorite_music">
                        <option [value]="null" selected>Selecciona cación favorita</option>
                        <option *ngFor="let music of musicList" [value]="music.id" >{{ music.name }}</option>
                    </select>
                    <div *ngIf="favorite_music.invalid && (favorite_music.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="favorite_music.errors.required">
                            {{"entity.required.favorite_music" | translate}}
                        </div>
                    </div>
                </div>
                <!-- Award criteria -->
                <div class="col-md-12" *ngIf="award_criteria">
                    <label for="award_criteria" class="form-label">{{'entity.award_criteria' | translate}}</label>
                    <textarea id="award_criteria" class="form-control mb-4" formControlName="award_criteria"></textarea>
                    <div *ngIf="award_criteria.invalid && (award_criteria.dirty || submitAttemp)" class="alert alert-danger">
                        <div *ngIf="award_criteria.errors.required">
                            {{"entity.required.award_criteria" | translate}}
                        </div>
                    </div>
                </div>

                <legend *ngIf="tiers">Tiers list</legend>
                <!-- Tiers -->
                <div class="col-md-12" *ngIf="tiers" formArrayName='tiers'>
                    <div class="row" *ngFor="let tierAndReward of entityForm.controls.tiers['controls']; let i=index" [formGroupName]='i'>
                        <div class="col-md-4">
                            <label for="tier{{i}}" class="form-label">Tier {{i+1}}</label>
                            <input type="number" id="tier{{i}}" class="form-control mb-4" formControlName="tier">
                        </div>
                        <div class="col-md-5">
                            <label for="reward{{i}}" class="form-label">Reward of tier {{i+1}}</label>
                            <input type="number" id="reward{{i}}" class="form-control mb-4" formControlName="reward_tier">
                        </div>
                        <div class="col-md-2">
                            <button type="button" mdbBtn color="danger" class="mt-4 waves-light" *ngIf="entityForm.controls.tiers['controls'].length>1" 
                                (click)="formUtilities.removeInput(i, entityForm, 'tiers')" mdbWavesEffect>Remove</button>
                        </div>
                        <div class="col-md-9">
                            <div *ngIf="tierAndReward.invalid && (tierAndReward.dirty || submitAttemp)" class="alert alert-danger">
                                {{"entity.required.username" | translate}}
                            </div>
                        </div>
                    </div>
                    <button type="button" mdbBtn color="info" class="mb-4 waves-light" *ngIf="entityForm.controls.tiers['controls'].length<6"
                        (click)="formUtilities.addInput(entityForm, 'tiers', entityHelper.initTierInput())" mdbWavesEffect>Add</button>
                </div>

                <legend *ngIf="materials">Materials list</legend>
                <!-- Materials -->
                <div class="col-md-12" *ngIf="materials" formArrayName='materials'>
                    <div class="row" *ngFor="let materialAndQuantity of entityForm.controls.materials['controls']; let i=index" [formGroupName]='i'>
                        <div class="col-md-6">
                            <label for="material{{i}}" class="form-label">Material {{i+1}}</label>
                            <select id="material{{i}}" class="browser-default custom-select mb-4" formControlName="material">
                                <option [value]="null" selected>Selecciona material</option>
                                <option *ngFor="let material of materialList" [value]="material.id">{{material.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="quantity{{i}}" class="form-label">Quantity {{i+1}}</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text mb-4" id="basic-addon1">x</span>
                                </div>
                                <input type="number"id="quantity{{i}}"  class="form-control mb-4" formControlName="quantity" aria-describedby="basic-addon1">
                              </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" mdbBtn color="danger" class="mt-4 waves-light" *ngIf="entityForm.controls.materials['controls'].length>1" 
                                (click)="formUtilities.removeInput(i, entityForm, 'materials')" mdbWavesEffect>Remove</button>
                        </div>
                        <div class="col-md-10">
                            <div *ngIf="materialAndQuantity.invalid && (materialAndQuantity.dirty || submitAttemp)" class="alert alert-danger">
                                {{"entity.required.username" | translate}}
                            </div>
                        </div>
                    </div>
                    <button type="button" mdbBtn color="info" class="mb-4 waves-light" *ngIf="entityForm.controls.materials['controls'].length<6"
                        (click)="formUtilities.addInput(entityForm, 'materials', entityHelper.initRecipeMaterialInput())" mdbWavesEffect>Add</button>
                </div>

                <!-- Translations -->

                <fieldset>
                    <legend>
                        Traducciones
                    </legend>
                
                    <a (click)="translations.toggle()"><i class="fas fa-plus-circle mb-4" data-target="#toggle-pane-88"></i> Añadir traducciones</a>
                    
                    <div id="toggle-pane-88" mdbCollapse #translations="bs-collapse">
                        <div class="form-row">
                            <div class="col-md-6 px-3">
                                <label for="USen" class="form-label">USen Translation</label>
                                <input type="text" id="USen" class="form-control mb-4" formControlName="USen">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="EUde" class="form-label">EUde Translation</label>
                                <input type="text" id="EUde" class="form-control mb-4" formControlName="EUde">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="EUes" class="form-label">EUes Translation</label>
                                <input type="text" id="EUes" class="form-control mb-4" formControlName="EUes">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="USes" class="form-label">USes Translation</label>
                                <input type="text" id="USes" class="form-control mb-4" formControlName="USes">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="EUfr" class="form-label">EUfr Translation</label>
                                <input type="text" id="EUfr" class="form-control mb-4" formControlName="EUfr">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="USfr" class="form-label">USfr Translation</label>
                                <input type="text" id="EUfr" class="form-control mb-4" formControlName="USfr">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="EUit" class="form-label">EUit Translation</label>
                                <input type="text" id="EUit" class="form-control mb-4" formControlName="EUit">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="EUnl" class="form-label">EUnl Translation</label>
                                <input type="text" id="EUnl" class="form-control mb-4" formControlName="EUnl">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="CNzh" class="form-label">CNzh Translation</label>
                                <input type="text" id="CNzh" class="form-control mb-4" formControlName="CNzh">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="TWzh" class="form-label">TWzh Translation</label>
                                <input type="text" id="TWzh" class="form-control mb-4" formControlName="TWzh">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="JPja" class="form-label">JPja Translation</label>
                                <input type="text" id="JPja" class="form-control mb-4" formControlName="JPja">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="KRko" class="form-label">KRko Translation</label>
                                <input type="text" id="KRko" class="form-control mb-4" formControlName="KRko">
                            </div>
                            <div class="col-md-6 px-3">
                                <label for="EUru" class="form-label">EUru Translation</label>
                                <input type="text" id="EUru" class="form-control mb-4" formControlName="EUru">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button mdbBtn class="waves-light btn-primary" type="submit">{{"general.actions.create" | translate}}</button>
                <button type="button" mdbBtn color="danger" class="waves-light" (click)="content.hide()" mdbWavesEffect>{{"general.actions.cancel" | translate}}</button>
            </div>
        </form>