<div class="row">
    <div class="col-sm">
        <div class="row">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-sm my-auto">
                {{"entity.properties.clothing_types." + entity.clothing_type | translate }}
            </div>
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-sm my-auto">
                {{entity.always_available == false ? entity.seasons : ("entity.properties.all_year" | translate)}}
            </div>
        </div>
        <div class="row">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-5 my-auto">
                {{entity.style}}
            </div>
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-5 my-auto">
                {{entity.themes}}
            </div>
        </div>
    </div>
</div>
<h4>{{"entity.properties.obtainment" | translate }}</h4>
<hr>
<div class="row">
    <div class="col-sm">
        <div class="row">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-sm my-auto">
                {{"entity.properties.obtainments." + entity.obtainment | translate }}
            </div>
        </div>
    </div>
</div>