<div class="row">
    <div class="col-sm">
        <div class="row">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-sm my-auto">
                {{"entity.furnitures." + entity.furniture_type | translate }}
            </div>
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-sm my-auto">
                {{entity.size}}
            </div>
        </div>
        <div class="row">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-5 my-auto">
                {{entity.tag}}
            </div>
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-5 my-auto">
                {{entity.interactive}}
            </div>
            <img class="icon" *ngIf="entity.set" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-5 my-auto" *ngIf="entity.set">
                {{entity.set}}
            </div>
            <img class="icon" *ngIf="entity.series" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-6 my-auto" *ngIf="entity.series">
                {{entity.series}}
            </div>
        </div>
    </div>
</div>
<h4>{{"entity.obtainment" | translate }}</h4>
<hr>
<div class="row">
    <div class="col-sm">
        <div class="row">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Friends.png">
            <div class="col-sm my-auto">
                {{"entity.obtainments." + entity.obtainment | translate }}
            </div>
        </div>
    </div>
</div>