<h5>{{"entity.type.recipe" | translate }}</h5>
<hr>
<div class="row">
    <div class="col-sm">
        <div class="row">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/utils/Watering.png">
            <div class="col-sm my-auto">
                {{ recipe.obtainment }}
            </div>
        </div>
        <div class="row" *ngFor="let material of materials">
            <img class="icon" src="https://crossing-horizons-images.s3.eu-west-3.amazonaws.com/material/{{material.image}}.png">
            <div class="col-sm my-auto">
                <span>x </span>{{ material.quantity }}
            </div>
        </div>
    </div>
</div>